/* ************ HEX COLOR OF LOGO: #FDC100 ************* */
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');


.demo-iframe {
  border: none;
  width: 600px;
  height: 400px;
  clear: both;
  display: none;
}
.text-input
{
  height: 30px;
  width: 150px;
}
.text-input-billing
{
    height: 24px;
}

.register-block
{
    margin: auto;
  text-align: center;
}

.register-table
{
  margin-top: 10px;
  margin-bottom: 10px;
}
.register-table td,
.register-table tr
{
  border-spacing: 0px;
  border-collapse: collapse;
  font-family: Verdana;
  font-size: 12px;
}
h3
{
  display: inline-block;
  margin: 0px;
}
.prompt {
  margin-top: 10px; font-size: 10px;
}

/* login pages forms css styling */

/* login button */
.form #loginButton {
  padding: 8px;
  background-color:rgb(253, 193, 0);
  border-radius: 5px;
  border: 5px;
  color: black;
  font-size: 1em;
}

.form #password, .form #username {
  height: 24px;
  margin: auto;
  margin-top: 5px;
  width: 150px;
  color: white;
  border: 1.5px solid;
  background-color: #222;
}
.form #rememberme {
  margin-top: 5px;
  margin-bottom: 8px;
  color: white;
}

/* background text for username and password */
.form #password:focus, .form #username:focus {
   background-color: lightblue;
   color: black;
   border: 1.5px solid grey;
}

#form
{
  margin: auto;
  text-align: center;
}

/***** creaete_account.html styling  *****/
.white-block {
  padding: 50px;
  color: black;
  width: 50%;
  margin: auto;
  background-color: white;
  display: block;
  border-radius: 5px;
  text-align: center;
}

/***** index.html styling ******/
.landing_page {
  background-color: #000;
  color: white;
}
.logo {
  width:600px;
  margin: auto;
}
/*** Navbar css ***/
.nav{
  background-color: #111;
  height: 50px;
}
.nav-logo {
  height: 50px;
  float: left;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}
li.right{
  float: right;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* changes color on hover */
li a:hover {
  background-color: #edc421;
  color: black;
}

/* #searchbar{
  width: 250px;
  margin-left: auto;
  margin-right: auto;
} */
#searchbarcenter{
  overflow:hidden;
  text-align: center;
}
#searchbar{
  display:inline-block;
  margin:10px 10px 0 0;
  padding:5px 10px
}

/* Centering H2 tags */
h2.centerMe {
  text-align: center;
  color:#FDC100;
}

/***** consumer.html styling ****/
.results {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #FDC100;
  border-radius: 10px;

}

.result {

}


body {
  background-color: #000;
  color: white;
  font-family: 'Work Sans', sans-serif;
}

/* billing.html */
.form-label
{
  vertical-align: baseline;
  font-weight: bold;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-small-label
{
  vertical-align: baseline;
  font-size: 12px;
  margin-left: 1px;
}
.required
{
  vertical-align: baseline;
  color: red;
  font-size: 10px;
}

#searchbar input{
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  line-height: 30px;
  font-size: 25px;
}

.rememberme_div{
  text-align: center;
  margin: auto;
  padding-top: 10px;
   display: inline-block;
  color: white;
}

table{
  display: inline-block;
}
td{
  text-align: left;
}

.form_reg table {
  border-collapse: collapse;
  width: 100%;
}
.form_reg td, .form_reg th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  color: black;
}
.form_reg tr:nth-child(even) {
  background-color: darkslategray;
}

#testpls{
  background-color: purple;
  color: white;
}

#phone_back{
  position: absolute;
  z-index: -1;
}
