/* ************ HEX COLOR OF LOGO: #FDC100 ************* */
.demo-iframe {
  border: none;
  width: 600px;
  height: 400px;
  clear: both;
  display: none;
}
.text-input
{
  height: 23px;
  width: 150px;
}
.text-input-billing
{
    height: 24px;
}
.register-table
{
  margin-top: 10px;
  margin-bottom: 10px;
}
.register-table td,
.register-table tr
{
  border-spacing: 0px;
  border-collapse: collapse;
  font-family: Verdana;
  font-size: 12px;
}
h3
{
  display: inline-block;
  margin: 0px;
}
.prompt {
  margin-top: 10px; font-size: 10px;
}


.form #password, .form #username {
  height: 24px;
  margin-top: 5px;
  width: 150px;
}
.form #rememberme {
  margin-top: 5px;
  margin-bottom: 8px;
}

/***** creaete_account.html styling  *****/
.register-block {
  padding: 50px;
  color: black;
  width: 50%;
  margin: auto;
  background-color: white;
  display: block;
  border-radius: 5px;
}

/***** index.html styling ******/
.landing_page {
  background-color: #000;
  color: white;
}
.logo {
  width:600px;
  margin: auto;
}
/*** Navbar css ***/
.nav{
  background-color: #111;
  height: 50px;
}
.nav-logo {
  height: 50px;
  float: left;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}
li.right{
  float: right;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* changes color on hover */
li a:hover {
  background-color: #edc421;
  color: black;
}

#searchbar{
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

/* Centering H2 tags */
h2.centerMe {
  text-align: center;
}

/***** consumer.html styling ****/
.results {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #FDC100;
  border-radius: 10px;

}

.result {

}


body {
  background-color: #000;
  color: white;
}

/* billing.html */
.form-label
{
  vertical-align: baseline;
  font-weight: bold;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-small-label
{
  vertical-align: baseline;
  font-size: 12px;
  margin-left: 1px;
}
.required
{
  vertical-align: baseline;
  color: red;
  font-size: 10px;
}