
.demo-iframe {
  border: none;
  width: 600px;
  height: 400px;
  clear: both;
  display: none;
}
.text-input
{
  height: 23px;
  width: 150px;
}
.register-table
{
  margin-top: 10px;
  margin-bottom: 10px;
}
.register-table td,
.register-table tr
{
  border-spacing: 0px;
  border-collapse: collapse;
  font-family: Verdana;
  font-size: 12px;
}
h3
{
  display: inline-block;
  margin: 0px;
}
.prompt {
  margin-top: 10px; font-size: 10px;
}


.form #password, .form #username {
  height: 24px;
  margin-top: 5px;
  width: 150px;
}
.form #rememberme {
  margin-top: 5px;
  margin-bottom: 8px;
}

/* landing page */
.landing_page {
  background-color: #000;
  color: white;
}
.logo {
  width:500px;
  height:500px;
  margin: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
}

li {
  float: left;
}
li.right{
  float: right;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #edc421;
  color: black;
}

#searchbar{
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
/* supplier kogin page css */
h2.sup {
  text-align: center;
}
